* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Noto Sans KR", sans-serif;
    letter-spacing: -0.01em;
}

a {
    text-decoration: none;
}

.banner {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #A4B5BF;
}

.banner-title a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1f2d3d;
    font-size: 18px;
    width: 100%;
    height: 64px;
}

.landing {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-end;
    background-image: url('./assets/img-bg.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    padding: 0 20px;
}

.landing-title {
    line-height: 1.25;
    letter-spacing: -0.03em;
    color: #fff;
    text-align: right;
    margin-bottom: 24px;
}

.landing-title strong {
    display: block;
    letter-spacing: -0.01em;
}

.landing-link {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid #fff;
    width: 160px;
    height: 52px;
    border-radius: 16px;
    font-size: 15px;
}

@media screen and (min-width: 768px) {
    .banner {
        bottom: auto; /* bottom: 0 없애기 */
        top: 0;
        height: 80px;
    }

    .banner-title a {
        height: 80px;
    }

    .landing {
        font-size: 35px;
        align-items: center;
    }

    .landing-title {
        text-align: center;
        margin-bottom: 30px;
    }

    .landing-link strong {
        font-size: 18px;
        height: 56px;
    }
}